<% if tags.any? { |tag_list| tag_list.present? } %>
  <table class="list issues">
    <thead>
      <tr>
        <th class="checkbox hide-when-print">
          <%= link_to image_tag('toggle_check.png'), {},
                onclick: 'tagsCheckbox(event); return false;',
                title: "#{ l :button_check_all }/#{ l :button_uncheck_all }" %>
        </th>
        <th><%= l(:field_name) %></th>
        <th align="center" style="width:10%;"></th>
      </tr>
    </thead>
    <tbody>
      <% tags.each_with_index do |tag_list, index| %>
        <% if tag_list.present? %>
          <% tag_list.each do |tag| %>
            <tr class="hascontextmenu <%= cycle('odd', 'even') %>">
              <td class="checkbox hide-when-print">
                <%= check_box_tag 'ids[]', index, false, id: nil, class: 'toggle-selection' %>
              </td>
              <td><%= render_tag_link(tag) %></td>
              <td class="buttons">
                <%= link_to l(:button_edit), edit_tag_path(tag),
                      class: 'icon icon-edit' %>
                <%= link_to l(:button_delete), tags_path(ids: tag), method: :delete,
                      confirm: l(:text_are_you_sure), class: 'icon icon-del' %>
              </td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
    <div class="pagination">
    <%= will_paginate tags %>
  </div>
  <br>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>
